-- MySQL dump 10.16  Distrib 10.3.7-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: cassiopee
-- ------------------------------------------------------
-- Server version	10.3.7-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `countries`
--

DROP TABLE IF EXISTS `countries`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `countries` (
  `id` smallint(5) unsigned NOT NULL AUTO_INCREMENT,
  `code` varchar(2) NOT NULL DEFAULT '',
  `name` char(255) NOT NULL DEFAULT '',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=247 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `countries`
--

LOCK TABLES `countries` WRITE;
/*!40000 ALTER TABLE `countries` DISABLE KEYS */;
/*!40000 ALTER TABLE `countries` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cve`
--

DROP TABLE IF EXISTS `cve`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cve` (
  `id` smallint(5) unsigned NOT NULL AUTO_INCREMENT,
  `date` date DEFAULT NULL,
  `advisoryDescription` text DEFAULT NULL,
  `cvss` smallint(5) unsigned NOT NULL,
  `cwe` smallint(5) unsigned NOT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_cve_cvss` (`cvss`),
  KEY `fk_cve_cwe` (`cwe`),
  CONSTRAINT `fk_cve_cvss` FOREIGN KEY (`cvss`) REFERENCES `cvss` (`id`),
  CONSTRAINT `fk_cve_cwe` FOREIGN KEY (`cwe`) REFERENCES `cwe` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cve`
--

LOCK TABLES `cve` WRITE;
/*!40000 ALTER TABLE `cve` DISABLE KEYS */;
/*!40000 ALTER TABLE `cve` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cvss`
--

DROP TABLE IF EXISTS `cvss`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cvss` (
  `id` smallint(5) unsigned NOT NULL AUTO_INCREMENT,
  `AV` varchar(1) DEFAULT NULL,
  `AC` varchar(1) DEFAULT NULL,
  `PR` varchar(1) DEFAULT NULL,
  `UI` varchar(1) DEFAULT NULL,
  `S` varchar(1) DEFAULT NULL,
  `C` varchar(1) DEFAULT NULL,
  `I` varchar(1) DEFAULT NULL,
  `A` varchar(1) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cvss`
--

LOCK TABLES `cvss` WRITE;
/*!40000 ALTER TABLE `cvss` DISABLE KEYS */;
/*!40000 ALTER TABLE `cvss` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cwe`
--

DROP TABLE IF EXISTS `cwe`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cwe` (
  `id` smallint(5) unsigned NOT NULL AUTO_INCREMENT,
  `cweLink` char(255) DEFAULT NULL,
  `cweAbstraction` text DEFAULT NULL,
  `cweStructure` text DEFAULT NULL,
  `cweSFP2Cluster` smallint(5) unsigned NOT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_cwe_cwesfp2cluster` (`cweSFP2Cluster`),
  CONSTRAINT `fk_cwe_cwesfp2cluster` FOREIGN KEY (`cweSFP2Cluster`) REFERENCES `sfp2` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cwe`
--

LOCK TABLES `cwe` WRITE;
/*!40000 ALTER TABLE `cwe` DISABLE KEYS */;
/*!40000 ALTER TABLE `cwe` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `devicetype`
--

DROP TABLE IF EXISTS `devicetype`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `devicetype` (
  `id` smallint(5) unsigned NOT NULL AUTO_INCREMENT,
  `type` char(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `devicetype`
--

LOCK TABLES `devicetype` WRITE;
/*!40000 ALTER TABLE `devicetype` DISABLE KEYS */;
/*!40000 ALTER TABLE `devicetype` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `icscert`
--

DROP TABLE IF EXISTS `icscert`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `icscert` (
  `id` smallint(5) unsigned NOT NULL AUTO_INCREMENT,
  `date` date DEFAULT NULL,
  `patch` smallint(5) unsigned NOT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_icscert_patch` (`patch`),
  CONSTRAINT `fk_icscert_patch` FOREIGN KEY (`patch`) REFERENCES `patch` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `icscert`
--

LOCK TABLES `icscert` WRITE;
/*!40000 ALTER TABLE `icscert` DISABLE KEYS */;
/*!40000 ALTER TABLE `icscert` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `icscert_cve`
--

DROP TABLE IF EXISTS `icscert_cve`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `icscert_cve` (
  `id_icscert_cve` int(11) NOT NULL AUTO_INCREMENT,
  `id_icscert` smallint(5) unsigned NOT NULL,
  `id_cve` smallint(5) unsigned NOT NULL,
  PRIMARY KEY (`id_icscert_cve`),
  UNIQUE KEY `UQ_icscert_cve__id_icscert__id_cve` (`id_icscert`,`id_cve`),
  KEY `FK_icscert_cve__id_cve` (`id_cve`),
  CONSTRAINT `FK_icscert_cve__id_cve` FOREIGN KEY (`id_cve`) REFERENCES `cve` (`id`),
  CONSTRAINT `FK_icscert_cve__id_icscert` FOREIGN KEY (`id_icscert`) REFERENCES `icscert` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `icscert_cve`
--

LOCK TABLES `icscert_cve` WRITE;
/*!40000 ALTER TABLE `icscert_cve` DISABLE KEYS */;
/*!40000 ALTER TABLE `icscert_cve` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `icscert_product`
--

DROP TABLE IF EXISTS `icscert_product`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `icscert_product` (
  `id_icscert_product` int(11) NOT NULL AUTO_INCREMENT,
  `id_icscert` smallint(5) unsigned NOT NULL,
  `id_product` smallint(5) unsigned NOT NULL,
  PRIMARY KEY (`id_icscert_product`),
  UNIQUE KEY `UQ_icscert_product__id_icscert__id_product` (`id_icscert`,`id_product`),
  KEY `FK_icscert_product__id_product` (`id_product`),
  CONSTRAINT `FK_icscert_product__id_icscert` FOREIGN KEY (`id_icscert`) REFERENCES `icscert` (`id`),
  CONSTRAINT `FK_icscert_product__id_product` FOREIGN KEY (`id_product`) REFERENCES `product` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `icscert_product`
--

LOCK TABLES `icscert_product` WRITE;
/*!40000 ALTER TABLE `icscert_product` DISABLE KEYS */;
/*!40000 ALTER TABLE `icscert_product` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `patch`
--

DROP TABLE IF EXISTS `patch`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `patch` (
  `id` smallint(5) unsigned NOT NULL AUTO_INCREMENT,
  `patch` char(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `patch`
--

LOCK TABLES `patch` WRITE;
/*!40000 ALTER TABLE `patch` DISABLE KEYS */;
/*!40000 ALTER TABLE `patch` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `product`
--

DROP TABLE IF EXISTS `product`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `product` (
  `id` smallint(5) unsigned NOT NULL AUTO_INCREMENT,
  `name` char(255) DEFAULT NULL,
  `sector` smallint(5) unsigned NOT NULL,
  `countriesDeployed` int(11) DEFAULT NULL,
  `deviceYN` tinyint(4) DEFAULT NULL,
  `deviceType` smallint(5) unsigned NOT NULL,
  `deviceComment` text DEFAULT NULL,
  `vendor` smallint(5) unsigned NOT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_product_sector` (`sector`),
  KEY `fk_product_deviceType` (`deviceType`),
  KEY `fk_product_vendor` (`vendor`),
  CONSTRAINT `fk_product_deviceType` FOREIGN KEY (`deviceType`) REFERENCES `devicetype` (`id`),
  CONSTRAINT `fk_product_sector` FOREIGN KEY (`sector`) REFERENCES `sector` (`id`),
  CONSTRAINT `fk_product_vendor` FOREIGN KEY (`vendor`) REFERENCES `vendor` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `product`
--

LOCK TABLES `product` WRITE;
/*!40000 ALTER TABLE `product` DISABLE KEYS */;
/*!40000 ALTER TABLE `product` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `product_countries`
--

DROP TABLE IF EXISTS `product_countries`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `product_countries` (
  `id_product_countries` int(11) NOT NULL AUTO_INCREMENT,
  `id_product` smallint(5) unsigned NOT NULL,
  `id_countries` smallint(5) unsigned NOT NULL,
  PRIMARY KEY (`id_product_countries`),
  UNIQUE KEY `UQ_product_countries__id_product__id_countries` (`id_product`,`id_countries`),
  KEY `FK_product_countries__id_countries` (`id_countries`),
  CONSTRAINT `FK_product_countries__id_countries` FOREIGN KEY (`id_countries`) REFERENCES `countries` (`id`),
  CONSTRAINT `FK_product_countries__id_product` FOREIGN KEY (`id_product`) REFERENCES `product` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `product_countries`
--

LOCK TABLES `product_countries` WRITE;
/*!40000 ALTER TABLE `product_countries` DISABLE KEYS */;
/*!40000 ALTER TABLE `product_countries` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sector`
--

DROP TABLE IF EXISTS `sector`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sector` (
  `id` smallint(5) unsigned NOT NULL AUTO_INCREMENT,
  `name` char(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sector`
--

LOCK TABLES `sector` WRITE;
/*!40000 ALTER TABLE `sector` DISABLE KEYS */;
/*!40000 ALTER TABLE `sector` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sfp1`
--

DROP TABLE IF EXISTS `sfp1`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sfp1` (
  `id` smallint(5) unsigned NOT NULL AUTO_INCREMENT,
  `name` char(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sfp1`
--

LOCK TABLES `sfp1` WRITE;
/*!40000 ALTER TABLE `sfp1` DISABLE KEYS */;
/*!40000 ALTER TABLE `sfp1` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sfp2`
--

DROP TABLE IF EXISTS `sfp2`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sfp2` (
  `id` smallint(5) unsigned NOT NULL AUTO_INCREMENT,
  `name` char(255) DEFAULT NULL,
  `sfp1` smallint(5) unsigned NOT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_sfp2_sfp1` (`sfp1`),
  CONSTRAINT `fk_sfp2_sfp1` FOREIGN KEY (`sfp1`) REFERENCES `sfp1` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sfp2`
--

LOCK TABLES `sfp2` WRITE;
/*!40000 ALTER TABLE `sfp2` DISABLE KEYS */;
/*!40000 ALTER TABLE `sfp2` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vendor`
--

DROP TABLE IF EXISTS `vendor`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `vendor` (
  `id` smallint(5) unsigned NOT NULL AUTO_INCREMENT,
  `location` char(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vendor`
--

LOCK TABLES `vendor` WRITE;
/*!40000 ALTER TABLE `vendor` DISABLE KEYS */;
/*!40000 ALTER TABLE `vendor` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2019-04-15 15:49:45
